.banner {
  padding: 3rem 0 0;
  position: relative;
  &--principal{
    padding: 3rem 0 0;
    // background-image: linear-gradient(to bottom, #fff -3%, #cce8ff, #fff 103%);
  }
  &__container {
    position: relative;
    @include b-580 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--modify {
    position: relative;
  }
  &__img {
    &--principal{
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    height: 25rem;
    overflow: hidden;
    object-fit: cover;
    & img{
      height: 100%;
      transform: scale(1.15);
    }
    & img {
      @include b-580 {
        height: 100%;
        object-fit: cover;
      }
    }
    @include b-580 {
      height: 18rem;
    }
  }
  &__absolute{
    position: absolute;
    top: 8rem;
    left: 55%;
    transform: translateX(-50%);
    width: 30rem;
    @include b-580{
      width: 14rem;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 168, 90, 0.8);
    color: #fff;
    width: 17%;
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    @include b-800 {
      width: auto;
      padding: 1rem;
      font-size: 3.4rem;
    }
  }
}
