.banner {
  padding: 3rem 0 0;
  &__container {
    @include b-580 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--modify {
    position: relative;
  }
  &__img {
    & img {
      width: 100%;
      @include b-580 {
        height: 100%;
        object-fit: cover;
      }
    }
    @include b-580 {
      height: 18rem;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 168, 90, 0.8);
    color: #fff;
    width: 17%;
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    @include b-800 {
      width: auto;
      padding: 1rem;
      font-size: 3.4rem;
    }
  }
}
