.producto-semilla {
  &__nav{
    & ul{
      @include reset-list;
      display: flex;
      align-items: center;
      & li{
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size: 2.5rem;
        margin-right: 
        1rem;
        & svg{
          margin-right: .5rem;
        }
        & figure{
          margin-right: .8rem;
        }
        &:nth-child(2){
          font-size: 2rem;
        }
      }
    }
    &--modify{
      margin-bottom: 2rem;
      & ul{
        @include reset-list;
        display: flex;
        align-items: center;
        & li{
          display: flex;
          align-items: center;
          color: $primary-color;
          font-size: 2.5rem;
          margin-right: 
          1rem;
          & svg{
            margin-right: .5rem;
          }
          & figure{
            margin-right: .8rem;
          }
          &:nth-child(2){
            font-size: 2rem;
          }
        }
      }
    }
  }
  &__2fr {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    gap: 3rem;
    @include b-580 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__filtro {
    &__list {
      @include reset-list;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 7rem;
    &:first-child {
      margin-top: 0;
    }
    @include b-800 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__logo {
    margin-top: 2rem;
    width: 17rem;
  }
  &__list {
    margin-top: 2rem;
    & li {
      line-height: 1.5;
      margin-top: 0.5rem;
      position: relative;
      list-style: none;
      &::before {
        content: "";
        position: absolute;
        top: 0.7rem;
        left: -1.7rem;
        background-image: url("../assets/img/icons/flechita.jpg");
        background-repeat: no-repeat;
        width: 2rem;
        height: 1rem;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__pdf {
    display: inline-block;
    padding: 1.2rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid red;
    background-color: rgb(234, 84, 64);
    &__content {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 1.8rem;
      color: #fff;
      & svg {
        margin-left: 1rem;
        font-size: 3.5rem;
        color: #fff;
      }
    }
  }
  &__img {
    & img {
      width: 100%;
    }
  }
}
